<%- include('./includes/header.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <section class="pageNotFound">
        <div>
            <h1>Az oldal nem található!</h1>
            <a href="/" class="productBTN">Vissza a kezdőoldalra</a>
        </div> 
</section>
<%- include('includes/end.ejs') %>