<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <section>
            
        </section>
        

        <%- include('../includes/end.ejs') %>