
</body>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Rolunk</h6>
        <p class="text-justify">GiftShop.hu <i>AZ AJÁNDÉKBOLT</i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur exercitationem recusandae unde quidem alias, sequi animi atque vero fuga, officiis beatae eius deserunt facere numquam mollitia, odio tempora illum. Unde.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>kategóriák</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Születésnapi</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Évforduló</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Karácsonyi</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Húsveti</a></li>
          <li><a href="http://scanfcode.com/category/android/">Szilveszter</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Névnap</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Linkek</h6>
        <ul class="footer-links">
          <li><a href="/about">Rólunk</a></li>
          <li><a href="/products">Termkéink</a></li>
          <li><a href="/cart">Kosár</a></li>         
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
     <a href="#">Fazekas Balázs & Meronka Patrik</a>.
        </p>
      </div>

      
    </div>
  </div>
</footer>

<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>