<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="button2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      TELEFONSHOP
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">KEZDŐLAP</a></li>
        <li class="dropdown"><a href="/products"><span>TREMÉKEINK</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/products">ÖSSZES TERMÉK</a></li>
            <li class="dropdown"><a href="#"><span>TELEFONOK</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">APPLE</a></li>
                <li><a href="#">SAMSUNG</a></li>
              </ul>
            </li>
             <li class="dropdown"><a href="#"><span>TABLETEK</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">APPLE</a></li>
                <li><a href="#">SAMSUNG</a></li>
              </ul>
            </li>  
            <li class="dropdown"><a href="#"><span>LAPTOPOK</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">APPLE</a></li>
                <li><a href="#">SAMSUNG</a></li>
              </ul>
            </li>     
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/about">RÓLUNK</a></li>
        <li><a class="nav-link scrollto" href="/servic">SZERVIZ</a></li>
        <li class="dropdown"><a href="#"><span>KOSÁR</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/cart">KOSÁR TARTALMA</a></li>
            <li><a href="/checkout">FIZETÉS</a></li>        
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</div>
</header>